In [363]:
import selenium
import pandas as pd
from selenium import webdriver

In [536]:
#let's connect to web driver
driver=webdriver.Edge(r"C:/Users/91945/Downloads/edgedriver_win64/msedgedriver.exe")

<ipython-input-536-820e23d4c69e>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Edge(r"C:/Users/91945/Downloads/edgedriver_win64/msedgedriver.exe")

### Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
#finding elements for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

<ipython-input-4-5a4a890fcb8f>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-4-5a4a890fcb8f>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-5-8db898a03ada>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [6]:
job_titles=[]
company_names=[]
location_lists=[]
experience_lists=[]

In [9]:
#extract all the tags having job titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:9]#scraping only first ten

<ipython-input-9-58b664ebc773>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="b6b43724-eca7-4990-a703-3fd9fa90e4cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="d244a16c-52af-425d-8cca-a924f9d7101d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="6178c000-b741-4666-a17f-55f2ba82744f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="ecaa0331-83a5-44e2-9c0b-a59984775a10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="d908102d-0401-4149-b5d6-fa5d4ffd7167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="8307f0f4-3cf0-4533-8ad0-20456473200d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="4c2b2707-4ec8-4093-ad04-0ebf737864a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="cfb1a9bb-808f-4400-b3b5-a781dd6109fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="484785c5-6330-4500-9738-bc79592797c9")>]

In [12]:
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:9]

['Senior Data Analyst',
 'Senior Data Analyst for HANA Platform',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst (On Contract)',
 'Senior Data Analyst',
 'Senior Associate- Data Analyst',
 'Data Analyst']

In [13]:
#extract all the tags having company names
names_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
names_tags[0:9]#scraping only first four

<ipython-input-13-02929576fe5f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="2865f1cd-3c9a-4967-9a4e-bcbcf6138e38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="66ee1ed1-78d1-4401-9e4f-3a803300f691")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="eaa5fb96-96af-4881-8ac4-f149b2d73550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="495d685d-539c-415b-868c-402f778ed2c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="ef06b618-a275-47d1-b917-6bc2fd979222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="cb0b77ab-e02d-4b5b-a6f4-43020edc8446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="d3dc63bd-8981-4eb7-8d57-f191864c7f16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="f80b4b73-7935-463e-a33a-0fadea66c8a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7e6a503b398193b6ff23f3f738bfabd", element="7238c6b4-9f63-4c65-99a3-7150b8f39237")>]

In [14]:
#we will use for loop to extract compony name from name tag
for i in names_tags:
    coy_name=i.text
    company_names.append(coy_name)
company_names[0:9]

['Flipkart',
 'Intel',
 'Slice',
 'Flipkart',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Rupeek Fintech Pvt Ltd',
 'ExecBoardinAsia',
 'Sapient',
 'CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN']

In [15]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-15-5f658aa40ef1>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [24]:
for i in loc_tags:
    loc=i.text
    location_lists.append(loc)

location_lists[0:9]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Coimbatore, Thodupuzha, Trivandrum/Thiruvananthapuram, Kochi/Cochin, Kolkata, Cannanore/Kannur, Indore, Nagpur, Pune, Lucknow, Calicut/Kozhikode, Bangalore/Bengaluru']

In [19]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

<ipython-input-19-137eff13da0a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [20]:
for i in exp_tags:
    exp=i.text
    experience_lists.append(exp)
experience_lists[0:9]

['3-7 Yrs',
 '5-10 Yrs',
 '0-2 Yrs',
 '4-5 Yrs',
 '2-5 Yrs',
 '0-2 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '1-4 Yrs']

In [26]:
df=pd.DataFrame({'Job Title':job_titles[0:9],
             "Company":company_names[0:9],
             "Location":location_lists[0:9],
             'Experience':experience_lists[0:9]})
df

,Job Title,Company,Location,Experience
0,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
1,Senior Data Analyst for HANA Platform,Intel,Bangalore/Bengaluru,5-10 Yrs
2,Data Analyst,Slice,Bangalore/Bengaluru,0-2 Yrs
3,Senior Data Analyst,Flipkart,Bengaluru/Bangalore,4-5 Yrs
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-5 Yrs
5,Data Analyst (On Contract),Rupeek Fintech Pvt Ltd,Bangalore/Bengaluru,0-2 Yrs
6,Senior Data Analyst,ExecBoardinAsia,Bangalore/Bengaluru,5-10 Yrs
7,Senior Associate- Data Analyst,Sapient,Bangalore/Bengaluru,4-9 Yrs
8,Data Analyst,CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,"Hyderabad/Secunderabad, Coimbatore, Thodupuzha...",1-4 Yrs

### Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. his task will be done in following steps:

In [38]:
driver.get("https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru")

In [53]:
job_title=[]
company_name=[]
location_list=[]
experience_list=[]

In [48]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:9]#scraping only first ten

<ipython-input-48-9baf80cd971d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="6964a78f-65de-46e8-972d-fb2433de396d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="47bfb45c-f2ce-4069-93ad-fea4c5d8a165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="c51798af-a5ae-48a4-a86b-6ec7bea44075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="bc2516c7-8be2-456a-8d84-cf2c5317228c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="dbb8a715-c9d6-49fe-acd9-dc5840ee8964")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="02103a39-b118-40e6-8e05-f7b713c26a52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="8405adf6-2d22-452b-8f1c-5d607c36e046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="2b42cbf4-9ca7-44bb-ada5-19bff59b547b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="eda9f2fd-e0ff-4709-8007-48ed0368c660")>]

In [69]:
for i in title_tags:
    job_title.append(i.text)
len(job_title[0:9])

9

In [55]:
names_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
names_tags[0:9]

<ipython-input-55-89c4431fdd28>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="46332a32-7c9e-47e0-8d8d-2055ff8a7412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="b4f60e02-8cd7-4272-ada1-d5a57132257e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="00c49357-feda-485e-ae2f-5e1257d9e42e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="4cc2f496-59ba-45b5-bc5d-8c8124e03529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="8c369ce6-a20a-477b-9199-592606318f5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="9addec40-9fb4-461a-b113-2e1011cfd6ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="d304d338-aac7-49df-873a-028e5e105434")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="5cf7b21b-062e-480f-aba7-db1b93d315fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="2c364c30-3753-44a8-9b41-a48e3f492caa")>]

In [68]:
for i in names_tags:
    company_name.append(i.text)
len(company_name[0:9])

9

In [57]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-57-5f658aa40ef1>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [67]:
for i in loc_tags:
    loc=i.text
    location_list.append(loc)

len(location_list[0:9])

9

In [59]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

<ipython-input-59-137eff13da0a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [66]:
for i in exp_tags:
    exp=i.text
    experience_list.append(exp)
len(experience_list[0:9])

9

In [70]:
df=pd.DataFrame({'Job Title':job_title[0:9],
             "Company":company_name[0:9],
             "Location":location_list[0:9],
             'Experience':experience_list[0:9]})
df

,Job Title,Company,Location,Experience
0,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bangalore/Bengaluru,3-8 Yrs
1,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,5-7 Yrs
2,Senior Engineer - AIML - Data Scientist,Unisys,Bangalore/Bengaluru,4-9 Yrs
3,Lead Data Scientist,Groww,"Palani, Bangalore/Bengaluru",6-10 Yrs
4,Jr. Data Analyst/ Jr. Data Scientist,Sejal Consulting Hub,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",0-5 Yrs
5,Senior Data Scientist,Wipro,"Pune, Bangalore/Bengaluru, Delhi / NCR",4-9 Yrs
6,Cognitive/AI Senior Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,4-8 Yrs
7,Senior Data Scientist,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",5-10 Yrs
8,Lead Programmer - Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,3-8 Yrs

### You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [71]:
driver.get("https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru&cityTypeGid=97&ctcFilter=3to6")

In [72]:
job=[]
company=[]
location=[]
experience=[]

In [73]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:9]#scraping only first ten

<ipython-input-73-9baf80cd971d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="a6455bc7-7c22-4014-b2a5-8d1986058ecf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="c5251296-c3d6-4b5f-933a-7d864378f42e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="afd4692c-96f2-4cd8-8e9b-b7a1249eed20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="84e7b00b-a7f5-44a0-ba22-ec306aa8d314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="4995143b-b43b-47d7-b4cb-fc8800b393bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="79d65206-8b91-4d30-a6c0-f87430e77ada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="e8f8f81a-722c-434f-8530-921c9ffc20b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="b6c03364-cac1-4ebc-bb69-ab7f17280eaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="d459e1e9-0786-472d-912b-771189a0cb4c")>]

In [75]:
for i in title_tags:
    job.append(i.text)
job[0:9]

['Jr. Data Analyst/ Jr. Data Scientist',
 'Opportunity For Data Scientist - Analytics',
 'Jr. Data Scientist',
 'Tcs Hiring For Data Scientist (Python GCP)',
 'DG - Business Analyst - Data Scientist',
 'Sr. Data Scientist / Data Scientist For Bangalore Location',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist']

In [76]:
names_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
names_tags[0:9]

<ipython-input-76-89c4431fdd28>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="e96a5bfd-3ce0-4bf6-9f00-00535f988d50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="a46a274c-fd69-442a-b77c-94c0a36ec7aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="03503fa9-5deb-4395-8c7b-107e4b3b8dea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="e28436aa-c83b-44a7-be0c-d9e15af9c16c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="d2e2175a-41a7-451e-a7f0-a31c65da2ef9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="ba240c13-2995-4268-8eb7-fc8c5ab2ed6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="54cc1997-599f-4bf5-b61a-c6e5dc553a3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="1b319c6d-0a1c-4bec-869e-68d3b8b3ef75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1cb36757af55051537571dcc908aa53", element="1f75d851-5d93-46d2-bc12-d7321b5bff57")>]

In [77]:
for i in names_tags:
    company.append(i.text)
company[0:9]

['Sejal Consulting Hub',
 'Firstsource Solutions Limited',
 'Rubixe (A brand under Think Ahead Innovations Pvt Ltd)',
 'Tata Consultancy Services Ltd.',
 'Genpact',
 'mPokket',
 'Klub',
 'Tata Consultancy Services Ltd.',
 'Tata Consultancy Services Ltd.']

In [78]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-78-5f658aa40ef1>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [79]:
for i in loc_tags:
    loc=i.text
    location.append(loc)

location[0:9]

['Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [80]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

<ipython-input-80-137eff13da0a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [81]:
for i in exp_tags:
    exp=i.text
    experience.append(exp)
experience[0:9]

['0-5 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '3-7 Yrs']

In [82]:
df=pd.DataFrame({'Job Title':job[0:9],
             "Company":company[0:9],
             "Location":location[0:9],
             'Experience':experience[0:9]})
df

,Job Title,Company,Location,Experience
0,Jr. Data Analyst/ Jr. Data Scientist,Sejal Consulting Hub,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",0-5 Yrs
1,Opportunity For Data Scientist - Analytics,Firstsource Solutions Limited,Bangalore/Bengaluru,3-8 Yrs
2,Jr. Data Scientist,Rubixe (A brand under Think Ahead Innovations ...,Bangalore/Bengaluru,1-3 Yrs
3,Tcs Hiring For Data Scientist (Python GCP),Tata Consultancy Services Ltd.,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",5-10 Yrs
4,DG - Business Analyst - Data Scientist,Genpact,Bangalore/Bengaluru,3-8 Yrs
5,Sr. Data Scientist / Data Scientist For Bangal...,mPokket,"Kolkata, Bangalore/Bengaluru",3-8 Yrs
6,Data Scientist,Klub,Bangalore/Bengaluru,2-5 Yrs
7,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",4-9 Yrs
8,Data Scientist,Tata Consultancy Services Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru",3-7 Yrs

### Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price

In [122]:
driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=0c88348e-a43d-4c13-98e0-e8f2f7b3922c&as-searchtext=sung")

In [123]:
brand=[]
desc_tag=[]
price=[]

In [124]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in name:
    brand.append(i.text)
len(brand)

<ipython-input-124-1ef38e7e38cc>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

40

In [125]:
driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=0c88348e-a43d-4c13-98e0-e8f2f7b3922c&as-searchtext=sung&page=2")

In [128]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in name:
    brand.append(i.text)
len(brand[0:100])

<ipython-input-128-728ee59a1e9f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

100

In [129]:
driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=0c88348e-a43d-4c13-98e0-e8f2f7b3922c&as-searchtext=sung&page=1")

In [130]:
des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in des:
    desc_tag.append(i.text)
len(desc_tag)

<ipython-input-130-51db6430f74e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

40

In [131]:
driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=0c88348e-a43d-4c13-98e0-e8f2f7b3922c&as-searchtext=sung&page=2")

In [134]:
des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in des:
    desc_tag.append(i.text)
len(desc_tag[0:100])

<ipython-input-134-002d2142285f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

100

In [135]:
driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=0c88348e-a43d-4c13-98e0-e8f2f7b3922c&as-searchtext=sung&page=1")

In [136]:
prc=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in prc:
    price.append(i.text)
len(price)

<ipython-input-136-a15faab3bff6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prc=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

40

In [139]:
driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=0c88348e-a43d-4c13-98e0-e8f2f7b3922c&as-searchtext=sung&page=2")

In [141]:
prc=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in prc:
    price.append(i.text)
len(price[0:100])

<ipython-input-141-51004db6a8a0>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prc=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

100

In [142]:
df=pd.DataFrame({'Brand':brand[0:100],
             'Description':desc_tag[0:100],
             'Price':price[0:100]})
df

             Brand                                        Description Price
0        Elligator  UV Protection, Riding Glasses Rectangular, Ret...  ₹318
1             hipe  Mirrored, UV Protection, Gradient Round Sungla...  ₹189
2             SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
3        Elligator                UV Protection Round Sunglasses (54)  ₹248
4           PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
..             ...                                                ...   ...
95  ROZZETTA CRAFT              UV Protection Aviator Sunglasses (55)  ₹449
96          SUNBEE              UV Protection Aviator Sunglasses (59)  ₹258
97          SUNBEE  UV Protection Aviator, Wayfarer Sunglasses (Fr...  ₹276
98  kingsunglasses    UV Protection, Gradient Aviator Sunglasses (53)  ₹279
99       Elligator  UV Protection, Riding Glasses Rectangular, Ret...  ₹239

[100 rows x 3 columns]

### Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [155]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [156]:
rating=[]
review_summ=[]
review=[]

In [157]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)
rating

<ipython-input-157-263fd5361992>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [158]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=2")

In [160]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-160-8b2564ce9d87>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [161]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=3")

In [162]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-162-4a5090f9f014>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [164]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=4")

In [165]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-165-4a5090f9f014>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [166]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=5")

In [167]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-167-4a5090f9f014>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [168]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=6")

In [169]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-169-4a5090f9f014>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [170]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=7")

In [171]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-171-4a5090f9f014>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [172]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=8")

In [173]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-173-4a5090f9f014>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [174]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=9")

In [175]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

<ipython-input-175-4a5090f9f014>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [176]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=10")

In [ ]:
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rate:
    rating.append(i.text)

In [179]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

97

In [182]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-182-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job']

In [183]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=2")

In [184]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-184-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny']

In [185]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=3")

In [186]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-186-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful']

In [187]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=4")

In [188]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-188-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product']

In [189]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=5")

In [190]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-190-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product']

In [191]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=6")

In [192]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-192-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!']

In [193]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=7")

In [194]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-194-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase']

In [195]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=8")

In [196]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-196-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Best in the market!',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Worthless',
 'Super!',
 'Excellent',
 'Nice product']

In [197]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=9")

In [198]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)
review_summ

<ipython-input-198-fa3a013139df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Pretty good',
 'Fabulous!',
 'Fabulous!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Brilliant',
 'Awesome',
 'Does the job',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Best in the market!',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Worthless',
 'Super!',
 'Excellent',
 'Nice product',
 'Mind-blowing purchase',
 'Wonderful',
 'Highly recommended',
 'Classy product',
 'Terrific',
 'Excellent',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Worth every penny']

In [199]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=10")

In [202]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    review_summ.append(i.text)

<ipython-input-202-4a4d510d4c1d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [203]:
len(review_summ)

110

In [204]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [205]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-205-7849fa65f819>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [207]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=2")

In [208]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-208-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [209]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=3")

In [210]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-210-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [211]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=4")

In [212]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-212-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [214]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=5")

In [215]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-215-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [216]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=6")

In [217]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-217-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [218]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=7")

In [219]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-219-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [220]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=8")

In [221]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-221-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [222]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=9")

In [223]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-223-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [224]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=10")

In [225]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full:
    review.append(i.text)

<ipython-input-225-1a2a22fec9fe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [228]:
df=pd.DataFrame({'Rating':rating,
             'Review_Summary':review_summ[0:97],
             'Review':review[0:97]})
df

,Rating,Review_Summary,Review
0,5,Pretty good,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Fabulous!,Really satisfied with the Product I received.....
2,5,Fabulous!,Great iPhone very snappy experience as apple k...
3,5,Just wow!,Amazing phone with great cameras and better ba...
4,5,Terrific purchase,Previously I was using one plus 3t it was a gr...
...,...,...,...
92,5,Fabulous!,Everything is perfect pictures come out so cle...
93,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
94,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
95,5,Awesome,The phone is completely good\nAs far as camera...
96,5,Decent product,Everything u ll like it when u use this iPhone...

### Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [234]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [235]:
brand=[]
rate=[]
summary=[]

In [236]:
name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in name:
    brand.append(i.text)

<ipython-input-236-532a976b3e11>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [238]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [239]:
name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in name:
    brand.append(i.text)

<ipython-input-239-f721053097b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [240]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=3&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [241]:
name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in name:
    brand.append(i.text)

<ipython-input-241-f721053097b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [242]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=4&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [243]:
name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in name:
    brand.append(i.text)

<ipython-input-243-f721053097b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [244]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=5&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [245]:
name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in name:
    brand.append(i.text)

<ipython-input-245-f721053097b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [246]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=6&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [247]:
name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in name:
    brand.append(i.text)

<ipython-input-247-f721053097b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [259]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [260]:
price=driver.find_elements_by_xpath("//div[@class='product-price']")
for i in price:
    rate.append(i.text)

<ipython-input-260-867661aea3b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [263]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [264]:
price=driver.find_elements_by_xpath("//div[@class='product-price']")
for i in price:
    rate.append(i.text)

<ipython-input-264-867661aea3b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [267]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [268]:
des=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in des:
    summary.append(i.text)

<ipython-input-268-a64c91c21279>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  des=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [270]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0")

In [272]:
des=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in des:
    summary.append(i.text)

<ipython-input-272-a64c91c21279>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  des=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [274]:
df=pd.DataFrame({'Brand':brand[0:100],
             'Rate':rate,
             'Summary':summary})
df

,Brand,Rate,Summary
0,Nike,Rs. 7195,Men Zoom Span 4 Running Shoes
1,UNDER ARMOUR,Rs. 13999,Men HOVR Apex 2 Training
2,ASICS,Rs. 11999Rs. 14999(20% OFF),Men GEL-KAYANO 27 Shoes
3,Puma,Rs. 7499Rs. 9999(25% OFF),Men Electrify Nitro Running
4,Nike,Rs. 7195,Men BlazerLow '77 Sneakers
...,...,...,...
95,DAVINCHI,Rs. 9599Rs. 11999(20% OFF),Men Supernova+ Running Shoes
96,Pavers England,Rs. 11999,Men X9000L3 Running Shoes
97,ADIDAS,Rs. 11999,Women Open Toe Flats
98,ADIDAS,Rs. 8295,Men Waffle One SE Sneakers
99,Cole Haan,Rs. 9450Rs. 10500(Rs. 1050 OFF),Leather Block Peep Toes

### Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [537]:
driver.get("https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A16757432031&dc&qid=1639495000&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_12")

In [538]:
title=[]
rating=[]
price=[]

In [280]:
name=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for i in name:
    title.append(i.text)

<ipython-input-280-af0a6adf93b0>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [549]:
rate=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declara']/i//span")
for i in rate:
    rating.append(i.text)

<ipython-input-549-4e91bc80e60b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rate=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']/i//span")

In [550]:
rating

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [330]:
pric=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pric:
    price.append(i.text)

<ipython-input-330-71e4e8122553>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pric=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [331]:
price

['5,40,955',
 '2,25,000',
 '2,65,999',
 '1,49,300',
 '2,45,000',
 '3,75,000',
 '2,39,000']

In [362]:
df=pd.DataFrame({'Brand':title[0:7],
    'Price':price})
df

                                               Brand     Price
0  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  5,40,955
1  ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz...  2,25,000
2  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...  2,65,999
3  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  1,49,300
4  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  2,45,000
5  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  3,75,000
6  Dell XPS 17 (2021) i9-11900H Touch Screen Lapt...  2,39,000

### Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.

In [423]:
driver.get("https://www.ambitionbox.com/jobs/search?tag=data%20scientist&location=Noida")

In [424]:
Brand=[]
rating=[]
days=[]

In [430]:
name_t=driver.find_elements_by_xpath("//div[@class='company-info']/p")
for i in name_t:
    Brand.append(i.text)

<ipython-input-430-c719d4172cf6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name_t=driver.find_elements_by_xpath("//div[@class='company-info']/p")

In [437]:
len(Brand)

20

In [440]:
ratings=driver.find_elements_by_xpath("//span[@class='body-small']")
for i in ratings:
    rating.append(i.text)

<ipython-input-440-57d93fac4d44>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings=driver.find_elements_by_xpath("//span[@class='body-small']")

In [442]:
len(rating)

20

In [443]:
no_days=driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in no_days:
    days.append(i.text)

<ipython-input-443-772e7e985ad5>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  no_days=driver.find_elements_by_xpath("//span[@class='body-small-l']")

In [450]:
no_of_days_ago=[]
for i in range(0,40,2):
    no_of_days_ago.append(days[i])
len(no_of_days_ago )

20

In [451]:
df=pd.DataFrame({'Company_name':Brand,
             'Company_rating':rating,
             'No._of_days_ago_job_posted':no_of_days_ago})
df

,Company_name,Company_rating,No._of_days_ago_job_posted
0,LG Electronics India Pvt. Ltd.,4.1,6d ago
1,GENPACT India Private Limited,4.0,13d ago
2,GENPACT India Private Limited,4.0,13d ago
3,NTT Data Business Solutions Pvt Ltd,3.8,14d ago
4,GENPACT India Private Limited,4.0,15d ago
5,GI Group,4.0,7d ago
6,GI Group,4.0,7d ago
7,GI Group,4.0,11d ago
8,Steria India Ltd,4.1,1mon ago
9,Zyoin,4.1,8d ago
10,Jubilant Foodworks Limited,3.9,1mon ago
11,Ameriprise Financial,4.0,1mon ago
12,Steria India Ltd,4.1,1mon ago
13,Steria India Ltd,4.1,1mon ago
14,Newgen Software Technologies Ltd.,3.3,19d ago
15,Polestar Solutions & Services Ind. Pvt. Ltd,3.8,24d ago
16,Bizdata,3.1,2d ago
17,Evalueserve.com Pvt. Ltd,3.4,1mon ago
18,ACS Solutions,4.1,15d ago
19,GSS HR Solutions,3.7,5d ago

### Write a python program to scrape the salary data for Data Scientist designation. 
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary

In [452]:
driver.get("https://www.ambitionbox.com/jobs/search?tag=data%20scientist&rid=naukri_091221900154")

In [466]:
coy_name=[]
min_salary=[]
avg_salary=[]
max_salary=[]
salary=[]

In [528]:
name=driver.find_elements_by_xpath("//div[@class='company-info']/p")
for i in name:
    coy_name.append(i.text)

<ipython-input-528-ca161fdbaae7>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//div[@class='company-info']/p")

In [532]:
len(coy_name)

10

In [484]:
min=driver.find_elements_by_xpath("//div[@class='salary_value']/span")
for i in min:
    salary.append(i.text)

<ipython-input-484-e1d77867ea71>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  min=driver.find_elements_by_xpath("//div[@class='salary_value']/span")

In [488]:
for i in range(0,20,2):
    min_salary.append(salary[i])
for j in range(1,21,2):
    max_salary.append(salary[j])

In [520]:
avg=driver.find_elements_by_xpath("//div[@class='avg_value sbold-title-l']")
for i in avg:
    avg_salary.append(i.text)

<ipython-input-520-6258a7024559>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg=driver.find_elements_by_xpath("//div[@class='avg_value sbold-title-l']")

In [525]:
len(max_salary)

10

In [533]:
df=pd.DataFrame({'Company_name':coy_name,
             'mni_salary':min_salary,
             'max_salary':max_salary,
             'Avg_salary':avg_salary})
df

,Company_name,mni_salary,max_salary,Avg_salary
0,Bayer India,₹ 5.6L,₹ 12L,₹ 7.9 L\n(avg)
1,IBM India Pvt. Limited,₹ 5L,₹ 22.5L,₹ 11.7 L\n(avg)
2,IBM India Pvt. Limited,₹ 5L,₹ 22.5L,₹ 11.7 L\n(avg)
3,J.P. Morgan Services India Private Limited,₹ 10.6L,₹ 30L,₹ 19.5 L\n(avg)
4,J.P. Morgan Services India Private Limited,₹ 10.6L,₹ 30L,₹ 19.5 L\n(avg)
5,Tata Consultancy Services Ltd.,₹ 4.4L,₹ 15L,₹ 7.3 L\n(avg)
6,IBM India Pvt. Limited,₹ 5L,₹ 22.5L,₹ 11.7 L\n(avg)
7,GlaxoSmithKline Pharmaceuticals Limited,₹ 5L,₹ 22.5L,₹ 11.7 L\n(avg)
8,IBM India Pvt. Limited,₹ 29.9L,₹ 56L,₹ 40.2 L\n(avg)
9,JP Morgan Chase,₹ 29.9L,₹ 56L,₹ 40.2 L\n(avg)